<h3>Admin Dashboard</h3>

<div id="merchants">
  <%= link_to 'Merchants', '/admin/merchants', method: :get %>
</div>

<div id="invoices">
  <%= link_to 'Invoices', '/admin/invoices', method: :get %>
</div>

<div id="incomplete-invoices"> 
  <div>
    <h3>Incomplete Invoices</h3>
  </div>
  <div>
      <% @incomplete_invoices.each do |invoice| %>
        <p>Invoice #<%= invoice.id %></p>
      <% end %>
  </div>
</div>

<div id="top-cust"> 
  <div>
    <h3>Top Customers</h3>
  </div>
  <div>
    <ol>
      <% @top_cust.top_five_cust.each do |cust| %>
        <li><%= cust.full_name  %> - <%= cust.success_count %> purchases</li>
      <% end %>
    </ol>
  </div>
</div>