<h3>Admin Dashboard</h3>

<div id="merchants">
  <%= link_to 'Merchants', '/admin/merchants', method: :get %>
</div>

<div id="invoices">
  <%= link_to 'Invoices', '/admin/invoices', method: :get %>
</div>

<div>
  <% @merchants.each do |merchant|%>
    <div id="merchant-<%= merchant.id %>">
      <p><%=  link_to "#{merchant.name}", admin_merchant_path(merchant) %></p>
      <p><%=  button_to "#{merchant.opposite_status}", admin_merchant_path(merchant), method: :patch %></p>
    </div>
  <% end %>
</div>