<h4><%= @merchant.name %></h4>

<div id="my-items">
  <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
</div>

<div id="my-invoices">
  <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
</div>

<div id="dashboard">
  <%= link_to 'Dashboard', "/merchants/#{@merchant.id}/dashboard"  %>
</div>

<div id="subheader-bar">
  Invoice #<%= @invoice.id %>
</div>
<br>
<div id="invoice-info">
  Status: <%= @invoice.status %><br>
  <br>
  Created on: <%= @invoice.created_day_mdy %><br>
  <br>
  <% revenue = @merchant.total_revenue(@invoice)%>
  Total Revenue: <%= number_to_currency(revenue.to_f / 100) %>
</div>
<br>
<div id="customer-info">
  <h5>Customer:</h5>
  <%= @invoice.customer.full_name %>
</div>
<br>
<div id="items-on-invoice">
  <% @merchant.items_on_invoice(@invoice).each do |ii| %>
    <div id="item-<%= ii.id %>">
      <%= ii.item.name %>
      <%= ii.quantity %>
      <%= number_to_currency(ii.unit_price.to_f / 100) %>
      <%= ii.status %>
      <br>
    </div>
  <% end %>
</div>