<h4><%= @merchant.name %></h4>

<div id="my-items">
  <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
</div>

<div id="create-new-item">
  <%= link_to 'New Item', "/merchants/#{@merchant.id}/items/new" %>
</div>

<div id="my-invoices">
  <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
</div>

<div id="dashboard">
  <%= link_to 'Dashboard', "/merchants/#{@merchant.id}/dashboard"  %>
</div>

<div id="my-items-list">
  <div id="enabled-items">
    <h3>Enabled Items</h3>
    <%= render partial: "item_list", locals: { items: @items.enabled } %>
  </div>

  <div id="disabled-items">
    <h3>Disabled Items</h3>
    <%= render partial: "item_list", locals: { items: @items.disabled } %>
  </div>
</div>


  