<h4><%= @merchant.name %></h4>

<div id="my-items">
  <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
</div>

<div id="my-invoices">
  <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
</div>

<div id="dashboard">
  <%= link_to 'Dashboard', "/merchants/#{@merchant.id}/dashboard"  %>
</div>

<div id="my-items-list">
  <div id="enabled-items">
    <h3>Enabled Items</h3>
    <%= render partial: "item_list", locals: { items: @items.enabled } %>
  </div>

  <div id="disabled-items">
    <h3>Disabled Items</h3>
    <%= render partial: "item_list", locals: { items: @items.disabled } %>
  </div>
</div>

<div id="top-items">
  <h3>Top Items</h3>
  <ol>
  <% @merchant.top_five_items.each do |item| %>
    <% format_sales = number_to_currency(item.sales.to_f / 100) %>
    <li><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
    <%= " - #{format_sales} in sales" %></li>
  <% end %>
  </ol>
</div>


  